<%= simple_form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
	<%= f.label :"Καλλιτέχνης" %>
	<%= f.association :artist, :label => false %>
</div>
<div>
	<%= f.label :"Κατηγορία" %>
	<%= f.association :category, :label => false %>
</div>
<div>
	<%= f.label :"Υλικό" %>
	<%= f.association :material, :label => false %>
</div>
  <div class="field">
    <%= f.label :'Τίτλος έργου' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :"Παρατηρήσεις" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :"Ύψος" %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :"Πλάτος" %><br />
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :"Βάθος" %><br />
    <%= f.number_field :depth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
